<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Inicio - Gestor de Gastos</title>
</head>

<body>

<h1>Gestor de Gastos Compartidos</h1>

<h2>
    Hola,
    <span th:text="${session.usuario.name}"></span>
</h2>

<p>Aqui va tu resumen de hoy.</p>

<br>

    <h3>Acciones rápidas</h3>

<a href="/grupo/crear">
    <button type="button">Crear grupo</button>
</a>

<br>
<br>

<a href="/mis-grupos">
    <button type="button">Mis grupos</button>
</a>

<br>
<br>

    <a href="/invitaciones">
    <button type="button"> Mis invitaciones</button>
    </a>
<br>
<br>

<a href="/logout">
    <button type="button">Cerrar sesión</button>
</a>

</body>

</html>