<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Mis grupos</title>
</head>

<body>

<h1>Mis grupos</h1>

<a href="/grupo/crear">
    <button type="button">Crear nuevo grupo</button>
</a>

<p>Grupos a los que perteneces:</p>

<div th:if="${#lists.isEmpty(miembros)}">

    <p>
        Todavía no perteneces a ningún grupo.
    </p>

</div>

<ul th:unless="${#lists.isEmpty(miembros)}">

    <li th:each="miembro : ${miembros}">

        <strong th:text="${miembro.grupo.name}">
            Nombre del grupo
        </strong>

        <span th:text="' - Estado: ' + ${miembro.estado}">
        Estado
    </span>

        <a th:if="${miembro.estado.name() == 'MIEMBRO'}"
           th:href="@{/grupo/{id}(id=${miembro.grupo.id})}">
            Ver grupo
        </a>

    </li>

</ul>

<br>

<a href="/inicio">
    Volver al inicio
</a>

</body>

</html>